{% extends "ServiceCiviqueWebBundle:Frontend:layout_dashboard.html.twig" %}

{% import 'ServiceCiviqueWebBundle:Macros:buttons.html.twig' as buttons %}
{% from 'ServiceCiviqueWebBundle:Frontend/Macros:misc.html.twig' import pagination %}
{% from 'ServiceCiviqueWebBundle:Frontend/Application:macros.html.twig' import table %}
{% from 'ServiceCiviqueWebBundle:Frontend/Macros:misc.html.twig' import breadcrumb %}

{% block breadcrumb_content %}
{{ breadcrumb([
    {'route': 'service_civique_homepage', 'name' : 'service_civique.breadcrumb.home'},
    {'name' : 'service_civique.breadcrumb.application.list'},
]) }}
{% endblock %}

{% block main_content_header %}{{ 'service_civique.statictexts.applications.list.title'|trans({}, 'statictexts') |raw }}{% endblock %}

{% block main_content_header_content %}
    <p>{{ 'service_civique.statictexts.applications.list.intro'|trans({}, 'statictexts') |raw }}</p>

    {% if app.request.get('all') %}
        <a class="btn btn-sc-red" href="{{ path('service_civique_application_list') }}">Voir mes candidatures en cours</a>
    {% else %}
        <a class="btn btn-sc-red" href="{{ path('service_civique_application_list', {'all': 'all'}) }}">{{ 'service_civique.application.show_all' | trans }}</a>
    {% endif %}
{% endblock %}

{% block main_content_body %}
    <div class="nb-applications">
        {{ 'service_civique.application.nb_results.title' | transchoice(applications.nbResults) }}
    </div>
    {{ pagination(applications) }}
    {{ table(applications) }}
    {{ pagination(applications) }}
    <a class="btn btn-sc-red-2" href="{{ path('service_civique_mission_list') }}">
        {{ 'service_civique.statictexts.applications.dashboard.search'|trans({}, 'statictexts') }}
    </a>
{% endblock %}
