{% macro table(presses) %}
{% import 'ServiceCiviqueWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if presses|length != 0 %}
    {% for presse in presses %}
        <li>
            <h2><a href="{{ path('service_civique_presse_show', {'slug': presse.slug}) }}">{{ presse.title | trans }}</a></h2>
            <p class="published"><span class="type">{{ presse.type | pressetype }}</pan> / Publié le {{ presse.published | date('d/m/Y') }}</p>
            <p>{{ presse.text | striptags | truncate(300) | raw }}</p>
        </li>
    {% endfor %}
{% else %}
    {{ alerts.info('service_civique.presses.no_results' | trans) }}
{% endif %}
{% endmacro %}
