{% extends 'ServiceCiviqueWebBundle:Backend:layout_page.html.twig' %}

{% from 'ServiceCiviqueWebBundle:Backend/Mission:macros.html.twig' import table %}

{% set resources     = missions %}
{% set resource_type = 'mission' %}
{% set page_type     = 'list' %}

{# /!\ Keep this empty block ! #}
{# We don't have mission_create page #}
{% block header_content_actions %}{% endblock %}

{% block main_content_header %}
    <p>
        <a class="link-action link-action-toggle" href="#" aria-controls="mission-search" aria-expanded="false"><i class="glyphicon glyphicon-search"></i> Rechercher des missions <span class="icon-arrow-down"></span></a>
        {# {{ sylius_resource_paginate(resources, [10, 30, 50]) }} #}
        <form action="{{ app.request.requesturi }}" method="get">
            Afficher: <select class="paginate-url" name="paginate">
                <option value="20" {% if(app.request.query.get('paginate') == 20) %}selected="selected"{% endif %}>20 missions par page</option>
                <option value="50" {% if(app.request.query.get('paginate') == 50) %}selected="selected"{% endif %}>50 missions par page</option>
                <option value="100" {% if(app.request.query.get('paginate') == 100) %}selected="selected"{% endif %}>100 missions par page</option>
            </select>
        </form>
    </p>
    {{ sonata_block_render({ 'type': 'service_civique.block.mission_search' }, {
        'search_action' : path('service_civique_mission_search_submit', {'sorting' : app.request.query.get('sorting'), 'route' : 'service_civique_backend_mission_index'} ),
        'display': {'form': true, 'options': false, 'filters': false, 'tags': true, 'formfilterclass': true, 'pagination': true},
        'template' : 'ServiceCiviqueWebBundle:Backend/Mission/Block:block_mission_search.html.twig',
        'criteria' : criteria
    }) }}
{% endblock %}

{% block main_content_body %}
    {{ table(resources, criteria) }}
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $( document ).ready(function() {
            // Critère "Options des tags"
            $('body').on('ifChecked', '#criteria_optionsTag_placeholder', function (event) {
                $('.form-group-tag').show('fast');
            });
            if($('#criteria_optionsTag_0').prop('checked') == true | $('#criteria_optionsTag_1').prop('checked') == true ) {
                $('.form-group-tag').hide();
            }
            $('body').on('ifChecked', '#criteria_optionsTag_0,#criteria_optionsTag_1', function (event) {
                $('.form-group-tag').hide('fast');
            });
            // Critère "Où ?"
            $('body').on('ifChecked', '#criteria_is_overseas_1', function (event) {
                $('.form-group-area,.form-group-department').hide('fast');
                $('.form-group-country').show('fast');
            });
            if($('#criteria_is_overseas_1').prop('checked') == true) {
                $('.form-group-area,.form-group-department').hide();
                $('.form-group-country').show();
            }
            $('body').on('ifChecked', '#criteria_is_overseas_0', function (event) {
                $('.form-group-area,.form-group-department').show('fast');
                $('.form-group-country').hide('fast');
            });
            if($('#criteria_is_overseas_0').prop('checked') == true) {
                $('.form-group-area,.form-group-department').show();
                $('.form-group-country').hide();
            }
        });
    </script>
{% endblock %}
