{% extends "ServiceCiviqueWebBundle::layout_sidebar_left.html.twig" %}

{% from 'ServiceCiviqueWebBundle:Frontend/Macros:misc.html.twig' import breadcrumb %}

{% set page_type_class = 'page-show' %}

{% block breadcrumb_content %}
{{ breadcrumb([
    {'route': 'service_civique_homepage', 'name' : 'service_civique.breadcrumb.home'},
    {'name' : partner.title},
]) }}
{% endblock %}

{% block main_content_header %}{{ partner.title }}{% endblock %}

{% block main_content_body %}
    <div class="item-top">
        <div class="img-box">
            <img src="{{ ('/uploads/partenaire/' ~ partner.path) | apply_filter('partner_thumbnail') }}" alt="partner.title" />
        </div>
        <h3>
            {{ partner.subtitle | raw }}</a>
        </h3>
    </div>
    <div class="item-content">
        {{ partner.text | raw }}
    </div>
{% endblock %}
