{% macro table(presses) %}
{% import 'ServiceCiviqueWebBundle:Frontend/Mission:macros.html.twig' as macros %}
{% import 'ServiceCiviqueWebBundle:Macros:buttons.html.twig' as buttons %}
{% import 'ServiceCiviqueWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if presses | length != 0 %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('title', 'Titre') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for presse in presses %}
        <tr data-id="{{ presse.id }}">
            <td><a href="{{ path('service_civique_presse_show', {'slug': presse.slug}) }}">{{ presse.title }}</a></td>
            <td>
                <div class="pull-right">
                    {{ buttons.edit(path('service_civique_backend_presse_update', {'id': presse.id})) }}
                    {{ buttons.delete(path('service_civique_backend_presse_delete', {'id': presse.id})) }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    {{ alerts.info('service_civique.presse.no_results' | trans) }}
{% endif %}
{% endmacro %}
