{% extends 'LnsMenuBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'LnsMenuBundle:Backend/MenuItem:macros.html.twig' import table %}

{% block breadcrumb %}
<li><a href="{{ path('lns_backend_menu_index') }}">{{ 'lns.menu.list.title' | trans }}</a></li>
<li>{{ 'lns.menu.edit.title' | trans }}</li>
{% endblock %}

{% block header_content_actions %}
    {{ buttons.create(path('lns_backend_menu_item_create', {menuId : menu.id}), 'lns.menu.button.add_new_item' | trans | raw) }}
{% endblock %}

{% block header_content_title %}
<i class="glyphicon glyphicon-th-list"></i> {{ 'lns.menu.edit.title' | trans }} <small>{{ 'lns.menu.edit.subtitle'| trans({'%title%': menu.title}) }}</small>
{% endblock %}

{% block main_content %}
    {{ form_errors(form) }}
    <form action="{{ path('lns_backend_menu_update', {'id': menu.id}) }}" method="post" class="form-create-menu" {{ form_enctype(form) }} novalidate>
        <input type="hidden" name="_method" value="PUT">
        {% include 'LnsMenuBundle:Backend/Menu:_form.html.twig' %}
        <input class="btn btn-primary" type="submit" value="{{ 'lns.menu.button.save'|trans }}"/>
    </form>

    <hr>

    {{ render(controller('lns.controller.menu:manageAction', {'id' : menu.id })) }}
{% endblock %}
